<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" href="/">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Category">Add Activity to Category</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/CategoryCreate">New Category</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Weekdays
        </a>
        <ul class="dropdown-menu">
          <% for(let day in data){ %>
            <li><a class="dropdown-item" href= "/Category/<%=day%>"><%=day%></a></li>
            <%}%>
          </ul>

        </li>
      </ul>
    </div>
  </nav>
